@font-face {
    font-family: 'Mak';
    src: url('./fonts/MAK.otf');
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/gothampro_light.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/gothampro_bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/gothampro.ttf');
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Gotham Pro', sans-serif;
    background: #4F4F4F;
    color: #FFFFFF;
    font-weight: 400;



}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

h1,
h2 {
    font-family: 'Mak', sans-serif;
}

.container {
    padding: 51px 57px;
    max-width: 1200px;
    min-width: 360px;
    margin: 0 auto;
    min-height: 100%;
}

img {
    width: 100%;
    object-fit: contain;
}

.logo {
    width: 85px;
    height: 85px;


}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.header-nav {
    position: relative;
    z-index: 2;
}

ul {
    list-style: none;
}

.nav-item {
    transition: .3s;
    width: 102px;
    height: 51px;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    background: #00000000;

}

.nav-item:hover {
    background: #0000001c;
    border: 1px solid #ffffff71;
}

.nav-item a {
    font-size: 14px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-wrap: nowrap;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
    position: relative;
    z-index: 2;
}

main .container {
    padding-left: 97px;
    padding-right: 78px;
    position: relative;
    z-index: 5;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* Стандартный синтаксис */
    cursor: pointer;
}

.header {
    position: relative;
    min-height: 771px;
    z-index: 5;
    overflow: visible;
}

.header-nav::before {
    position: absolute;
    content: '';
    width: 1395px;
    height: 978px;
    top: -500px;
    left: 130px;
    background: url('./img/black-light-menu.png')50% / 100% 100% no-repeat;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: -200px;
    right: 0;
    left: -10px;
    background: url('./img/bg-home.png') 0% / contain no-repeat;
    z-index: 5;
    pointer-events: none;

}



.header-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    width: 100%;
    padding-top: 115px;
    position: relative;
    z-index: 2;
}

h1 {
    font-size: 116px;
    font-weight: 300;
    line-height: 90px;
}

.header-desc p {
    font-size: 21px;
    text-align: right;
    line-height: 30px;
    margin-bottom: 56px;
}

.btn-action {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 22px;
    height: 83px;
    font-weight: 500;
    border: 1.4px solid #FFFFFF;
    background: #FFFFFF;
    border-radius: 40px;
    padding: 0 58px;
    box-shadow: 9.39px 5.98px 71.2px 0px #525252;
    -moz-box-shadow: 9.39px 5.98px 71.2px 0px #525252;
    -webkit-box-shadow: 9.39px 5.98px 71.2px 0px #525252;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* Стандартный синтаксис */
    cursor: pointer;
    max-width: fit-content;
    text-wrap: nowrap;
    transition: .2s;
}

.btn-action:hover {
    background: #ffffffd3;
}

.btn-action:active {
    transform: scale(.95);
}

h2 {
    font-size: 70px;
    font-weight: 300;
    line-height: 70px;
}

.black-title {
    color: #000000;
    position: relative;
}

section {
    position: relative;
    z-index: 3;
}

section.about {
    position: relative;
}

section.about::after {
    content: '';
    position: absolute;
    width: 150%;
    height: 900px;
    bottom: -300px;
    left: -45%;
    background: url('./img/black-light-about.png') 50% / 100% 100% no-repeat;
}

section.about h2 {
    position: relative;
}

section.about h2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 422px;
    top: -250px;
    left: -131px;
    z-index: -1;
    background: url('./img/white-light.png') 50% / 100% 100% no-repeat;
}

section {
    position: relative;
    z-index: 1;
}

.about .container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.about>* {
    position: relative;
    z-index: 1;
}

main {
    position: relative;
}

.figure::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
    width: 39vw;
    height: 50vw;
    background: url('./img/figure.png') 50% / contain no-repeat;
}

.figure::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50vw;
    width: 39vw;
    height: 50vw;
    background: url('./img/figure.png') 50% / contain no-repeat;
    transform: scale(1, -1);
    pointer-events: none;
}

.about-img {
    width: 100%;
    height: 604px;
    max-width: 501px;
    border-radius: 65px;
    overflow: hidden;
    box-shadow: 33px 33px 41.8px 3px #313131;

}

.about-img img {
    object-fit: cover;
    height: 100%;
}

.about-desc {
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    gap: 10px;
    max-width: 463px;
}


.about-desc p {
    font-size: 18px;
    line-height: 17.15px;
    letter-spacing: 2px;
}

.services {
    text-align: center;
}

section {
    padding: 44px 0;
}

.services-items {
    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

}

.services h2 {
    margin-bottom: 15px;
}

.services-item {
    width: 100%;
    max-width: 470px;
    min-height: 527px;
    padding: 49px 16px;
    border-radius: 54px;
    box-shadow: 17.41px 12.19px 19.15px 0px #000000C9;
    -webkit-box-shadow: 17.41px 12.19px 19.15px 0px #000000C9;
    -moz-box-shadow: 17.41px 12.19px 19.15px 0px #000000C9;
    background: #00000070;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    justify-content: space-between;
    position: relative;
    transition: .5s;
    margin-bottom: 70px;
}

.services-item-img img {
    transition: .5s;
}

.services-item:hover {
    background: #000000ad;
}

.services-item:hover .services-item-img img {
    transform: scale(1.1);
}

.services-item-img {
    overflow: hidden;
    width: 350px;
    height: 350px;
    border-radius: 200px;
    box-shadow: 11.31px 14.8px 19.41px 9.57px #00000078;
    -webkit-box-shadow: 11.31px 14.8px 19.41px 9.57px #00000078;
    -moz-box-shadow: 11.31px 14.8px 19.41px 9.57px #00000078;

}

.services-item-title {
    font-size: 21px;
}

.services-item-price {
    font-weight: 700;
    font-size: 21px;
}

.time {
    position: absolute;
    width: 70px;
    height: 70px;
    background: url('./img/time.png') 50% / contain no-repeat;
    bottom: 30px;
    right: 27px;
}

.white-bg-light::before {
    content: '';
    position: absolute;
    bottom: 30px;
    right: -30%;
    z-index: -1;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 400px 150px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 400px 150px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 400px 150px rgba(255, 255, 255, 0.5);
}

.white-top-bg-light::before {
    content: '';
    position: absolute;
    top: 100px;
    left: -10%;
    z-index: -1;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 400px 400px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 400px 400px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 400px 400px rgba(255, 255, 255, 0.5);
}

.contact-link-items {
    position: relative;
    z-index: 1;
}

.contact-link-items::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: -1;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 0.5);
}

.black-bottom-bg-light::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 400px 400px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 400px 400px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 400px 400px rgba(0, 0, 0, 0.5);
}

.figure-two {
    position: absolute;
    background: url('./img/figure3.png') 50% / contain no-repeat;
    width: 64vw;
    height: 75vw;
    left: -16vw;
    top: 1800px;
    z-index: 0;
    pointer-events: none;
}

.reviews h2 {
    text-align: right;
    position: relative;

    right: 200px;
    top: 100px;
}

.figure-three {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 59vw;
    background: url('./img/figure5.png')50% / contain no-repeat;
    pointer-events: none;
}

.figure-three::after {
    content: '';
    position: absolute;
    bottom: 59vw;
    left: 0;
    width: 100vw;
    height: 59vw;
    background: url('./img/figure4.png')50% / contain no-repeat;
    pointer-events: none;
}

.footer {
    text-align: center;
    position: relative;

}

.footer h2 {
    z-index: 3;
}

.footer .btn-action {
    z-index: 3;
}

.footer .btn-action::after {
    content: '';
    position: absolute;
    width: 300px;
    top: 100%;
    left: calc(50% - 150px);
    z-index: -1;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 300px 150px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 300px 150px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 300px 150px rgba(255, 255, 255, 0.5);
}

.footer .container {
    padding-top: 78px;
    padding-bottom: 159px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-link-items {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 76px;
    margin-bottom: 100px;
}

.contact-link-item-link {
    font-size: 26px;
    margin-top: 62px;
}

svg {
    transition: .2s;
}

.contact-link-item:hover svg {
    transform: scale(1.1);
}

.contact-link-item-link::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #FFFFFF;
    border-radius: 2px;
    top: 100%;
    display: block;
    position: absolute;
    transition: .5s;
    opacity: 0.8;
}

.contact-link-item-link:hover::before {
    width: 100%;
}

.contact-link-item-link {
    position: relative;
}

.review-mobile {
    display: none;
}

.slid-review {

    min-width: 335px;
    height: fit-content;
    max-width: 335px;
    scroll-snap-align: center;
}

.swiper-reviews {
    gap: 30px;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
}

.header .container>* {
    position: relative;
    z-index: 8;
}

@media (min-width: 1400px) {
    .header::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: -80%;
        right: 0;
        left: -10%;
        background: url(./img/bg-home.png) 0 100% / 100% no-repeat;
        z-index: 0;
        pointer-events: none;
    }

    section.about {
        position: relative;
        z-index: 5;
    }
}

@media (max-width:1171px) {

    .services-item {
        width: 45%;
    }

    main .container,
    .about .container,
    .container {
        padding: 30px 20px;
        max-width: 1400px;
        min-width: 360px;
        margin: 0 auto;
    }
}

@media (max-width:1081px) {
    .header::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: -200px;
        right: 0;
        left: -10px;
        background: url(./img/bg-home.png) 0% 0% / contain no-repeat;
        z-index: 5;
        pointer-events: none;
    }
}

@media (max-width:1025px) {

    .services-item {
        width: 100%;
    }

    .about .container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .about .container .about-desc {
        max-width: none;
    }

    .services-items {
        align-items: center;
        justify-content: center;
    }

    .header-nav::before {
        position: absolute;
        content: '';
        width: 1395px;
        height: 978px;
        top: -500px;
        left: 0px;
        background: url('./img/black-light-menu.png')50% / 100% 100% no-repeat;


    }
    }

    @media (max-width:800px) {
        .review-desktop {
            display: none;
        }

        .review-mobile {
            display: block;
        }

        .services-item {
            width: 100%;
        }

        html {
            font-size: 14px;
            text-align: center;
        }

        h2 {
            font-size: 50px;
        }

        .about-img {
            max-width: none;
        }

        .reviews h2 {
            text-align: center;
            position: static;

        }

        .header-desc {
            align-items: center;
        }

        .header-desc p {
            width: 100%;
            font-size: 16px;
            text-align: right;
            line-height: 30px;
            margin-bottom: 50px;
        }

        h1 {
            font-size: 80px;
            font-weight: 300;
            line-height: 90px;
        }

        .btn-action {
            font-size: 18px;
            height: 60px;
        }
    }

    @media (max-width:670px) {

        .header-nav {
            width: 100%;
        }

        .header-nav {
            flex-direction: column;
            gap: 34px;
        }

        .header-desc h1 {
            display: flex;
            flex-direction: column;

            width: 100%;
            font-size: 90px;
        }

        .nav {
            width: 100%;
        }

        .header .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            min-height: 90vh;

        }

        .header-desc {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .nav-items {
            gap: 0;
            justify-content: space-between;
            width: 100%;
        }

        .nav-item {
            width: 69px;
            height: 35px;
        }

        .nav-item a {
            font-size: 10px;
        }

        .header-desc p {
            font-size: 14px;
            text-align: center;
            position: relative;
        }

        .header-desc p::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 60%;
            left: 45%;
            -webkit-box-shadow: 0px 0px 150px 150px rgba(0, 0, 0, 0.8);
            -moz-box-shadow: 0px 0px 150px 150px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 0px 150px 150px rgba(0, 0, 0, 0.8);
        }

        .header-desc h1 span {
            margin-left: 1em;
        }

        .header-desc h1 span:first-child {
            margin-left: 0;
            margin-right: 1em;
        }

        .logo {
            min-width: 85px;
            min-height: 85px;
            position: relative;
            z-index: 1;
        }

        .contact-link-items {
            flex-direction: column;
            gap: 40px;
        }

        .contact-link-item {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
        }

        .contact-link-item-link {
            margin: 0;
        }

        .btn-action {
            text-wrap: wrap;
            padding: 10px;
        }

        section {
            padding: 20px 0;
        }

        .services-item-img {
            width: 300px;
            height: 300px;
        }

        .footer .container {
            padding-top: 30px;
        }

        .contact-link-item-link {
            font-size: 18px;

        }

        .services-item-title {
            font-size: 17px;
        }

        .header::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: -30vh;
            right: 0;
            left: 0;
            background: url('./img/bg-home.png') 20% 0% / cover no-repeat;
            z-index: 5;
            pointer-events: none;
        }
        .header-nav::before {
            position: absolute;
            content: '';
            width: 1395px;
            height: 978px;
            top: -500px;
            left: -250px;
            background: url('./img/black-light-menu.png')50% / 100% 100% no-repeat;
    
    
        }

    }